@use '../custom' as *;

.intro {
  background-image: url(../../assets/images/main-bg.jpg),
    radial-gradient(
      189.96% 61.18% at 50% 38.82%,
      rgba(255, 181, 72, 0) 0%,
      rgba(52, 44, 29, 0.80319) 73.22%,
      #08090a 99.74%
    );
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

.section-intro {
  .main-intro {
    min-height: 80vh;
    text-align: center;

    h1 {
      color: $white;
      font-weight: bold;
      line-height: 83px;
      letter-spacing: 3px;
      margin-bottom: 30px;
    }

    h3 {
      color: $white;
      font-family: Arial;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 2px;
      margin-bottom: 30px;
    }

    .btn.btn-warning {
      background: linear-gradient(
        194.68deg,
        #ffb548 11.27%,
        #f3af34 90.4%
      ) !important;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      color: #1a1917;
      padding: 18px 70px !important;
    }

    .btn-last {
      color: $white;
      text-decoration: none;
      position: absolute;
      bottom: 5%;
      animation: scroll-down;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      img {
        width: 50%;
      }

      h4 {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 0;
      }

      @keyframes scroll-down {
        0% {
          bottom: 5%;
        }
        50% {
          bottom: 7.5%;
        }
        100% {
          margin-top: 5%;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .btn-last {
    bottom: 2% !important;
  }
}
