@use '../custom' as *;

.newsletter {
  min-height: 90vh;
  padding-top: 50px;
  background: #080a0b;

  .newsletter-text {
    color: white;

    h3 {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 28px;
    }

    h1 {
      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 65px;
      line-height: 75px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    .newsletter-form {
      margin-top: 50px;
      display: flex;
      gap: 17px;

      .newsletter-input {
        background: #232525;
        flex: 1.5;
        border-radius: 5px;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 20px;

        h6 {
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #868686;
        }

        input {
          width: 100%;
          font-family: Open Sans;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #ffb548;
          border: none;
          outline: none;
          background: #232525;
        }
      }

      .btn.btn-warning {
        flex: 1;
        background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
        border-radius: 4px;
        padding: 17px 5px;

        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #1a1917;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .newsletter {
    padding-bottom: 0;
  }

  .newsletter-text {
    h1 {
      font-size: 50px !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .col-md-5 {
    img {
      display: none;
    }
  }

  .newsletter-text {
    h1 {
      margin: 20px 0;
      font-size: 40px !important;
      line-height: 40px !important;
    }
  }
}
