h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}
